<% provide(:title, t("pages.log_in.log_in")) %>
<h1><%= t("pages.log_in.log_in") %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: login_path do |f| %>

      <%= f.label :email, t("pages.signup.email") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, t("pages.signup.password") %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t("pages.remember_me.remember_me") %></span>
      <% end %>

      <%= f.submit t("pages.log_in.log_in"), class: "btn btn-primary" %>
    <% end %>
    <p>
      <%= t("pages.log_in.new_user") %>
      <%= link_to t("pages.home.sign_up"), new_user_path %>
    </p>
  </div>
</div>
