<h1><%= t("pages.nav.sample_app") %></h1>

<p>
  <%= t("pages.send_mail.text_hi") %>
  <%= @user.name %>,
</p>
<p><%= t("pages.send_mail.mail_welcome") %></p>

<%= link_to t("pages.send_mail.activate"), edit_account_activation_url(id:
  @user.activation_token, email: @user.email) %>
