<footer class="footer">
  <small>
    <%= t("pages.footer.the") %>
    <%= link_to t("pages.home.ruby_on_rails"), "http://www.railstutorial.org" %>
    <%= t("pages.footer.by") %>
    <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("pages.footer.about"), "#" %></li>
      <li><%= link_to t("pages.footer.contact"), "#" %></li>
      <li>
        <%= link_to t("pages.footer.news"), "http://news.railstutorial.org/" %>
      </li>
    </ul>
  </nav>
</footer>
