<header class="navbar navbar-fixed-top navbar-
inverse">

<div class="container">
  <%= link_to "sample app", "#", id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t("pages.nav.home"), "#" %></li>
      <li><%= link_to t("pages.nav.help"), "#" %></li>
      <li><%= link_to t("pages.nav.log_in"), "#" %></li>
      <li><%= link_to t("pages.nav.eng"), locale: :en %></li>
      <li><%= link_to t("pages.nav.vie"), locale: :vi %></li>
    </ul>
  </nav>
</div>
</header>
